* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainWrapper {
  display: flex;
}

.navbar {
  width: 22%;
  border-right: 2px solid #dedbdb;
}

.insta-logo {
  margin: 0.05rem 1rem;
}

.nav-options {
  display: flex;
  margin-left: 1rem;
  padding-top: 0.2rem;
}
.nav-options h3 {
  padding: 1rem;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.mainArea {
  width: 100%;
  background-color: #f2f3f5;
}

.user-dp {
  width: 50%;
  border: 3px solid green;
  border-radius: 6px;
  /* padding: 50px; */
  margin: 2rem 0 2rem 10rem;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.user-pic img {
  width: 40%;
  background-image: url(./img/IG\ circle.png);
  background-size: cover;
  background-position: center;
}

.userCard {
  display: flex;
  margin-top: 3rem;
  align-items: center;
}

.imgwrapper img {
  width: 63px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.imgwrapper {
  padding: 4px;
  background-image: url(./img/IG\ circle.png);
  background-size: cover;
  background-position: center;
}

.userDetails {
  margin-left: 0.6rem;
}

.userDetails.username {
  font-size: 0.6rem;
  font-weight: 800;
}

.userDetails.userHandle {
  font-size: 0.5rem;
  font-weight: 800;
  color: #545454;
}

.SuggestionWrapper {
  width: 20%;
  background: #f2f3f5;
  padding: 1rem;
}
